.shafa {
	width: 1200px;
	border: 1px #555  solid ;
	padding: 5px;
	margin: 15px;
	float: left;
	
}

.hatka{ 
	width: 350px;
	height: 560px;
	border: 2px #333 solid;
	background: #eee;
	float: left;
	padding: 5px;
	margin: 15px;
    overflow: scroll;
}	

img {
	width: 200px;
    margin: 2;
}
img.logo_2 {
	width: 50px;
}

.photo{
	width: 210px;
	float: left;
}
.small-foto{
    width: auto;
}